*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(203, 202, 202);
}
#container
{
    display: grid;
    background-color: white;
    grid-template-columns:.8fr 2fr;
    
}
.left
{
    display: inline-grid;
    height: 738px;
    background-image: url(bg-main-desktop.png);
}
.card
{
    width: 335px;
    height: 230px;
    border-radius: .4em;
    position: relative;
    top: 5em;
    left:6em;
}
#front
{
    background-image: url(bg-card-front.png);
}
#dot
{
    position: relative;
    top: 1em;
    left: 1em;
}
#O
{
    position: relative;
    top:.5em;
    left: .6em;
    font-size: 1.5em;
}
#cardno
{
    position: relative;
    top: 3.5em;
    font-size: 2em
}
#front p
{
    position: relative;
    top:9em;
    left:3.5em;
    display: inline-block;
}
.carddate
{
    position: relative;
    top:9em;
    float: right;
    right: 2em;
}
#back
{
    position: relative;
    top:6em;
    left:11em;
    background-image: url(bg-card-back.png);
    color: white;
}
#back span{
    position: relative;
    top:6.8em;
    float: right;
    right: 3em;
}
.right
{
    display: inline-grid;
    font-size: .6em;
}
.right form
{
    place-self: center;
}
.info
{
    margin-top: 1.5em;
}
.info label
{
    place-self: center;
    display: block;
    color: gray;
}
.userdata
{
    margin-top: .4em;
    width: 15vw;
    border-radius: .3em;
    height: 4vh;
    padding: 1em;
}
#datedata
{
    display: inline-grid;
    grid-template-columns: 120px 140px;
}
.monyea
{
    width: 7vw;
    height: 3.5vh;
    margin-top: .4em;
    border-radius: .3em;
    padding: .5em;
}
#exp
{
    justify-self: start;
}
#cvclabel
{
    justify-self: start;
}
#cvc
{
    width: 7vw;
    height: 3.5vh;
    margin-top: .4em;
    border-radius: .3em;
    padding: .3em;
}
#conf
{
    display: block;
    width: 15vw;
    padding: 1em;
    color: white;
    margin-top: 1.5em;
    background-color: rgb(2, 27, 76);
    border-radius: .5em;
}
@media screen and (max-width:500px) {
    #container
    {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    .up
    {
        height: 30vh;
        width: 100vw;
    }
    .card
    {
        width:335px;
    }
    #back
{
    position: absolute;
    left: 3.2em;
    top: 2em;
    background-image: url(bg-card-back.png);
    background-size: 79vw;
    background-repeat: no-repeat;
    color: white;
}
#back span{
    position: relative;
    float: left;
    top:4.3em;
    left: 14em;
}
#front
{
    position:relative;
    top:9em;
    left: 1em;
    background-repeat: no-repeat;
    background-size: 79vw;
    background-image: url(bg-card-front.png);
    z-index: 1;
}
#cardno
{
    position: relative;
    top: 3.5em;
    font-size: 1.2em
}
#front p
{
    position: absolute;
    top:7em;
    display: inline-block;
}
.carddate
{
    position: absolute;
    float: left;
    top:7em;
    right: 11em;
}
.down form
{
    position: absolute;
    place-self: end;
    top: 50em;
    right: 5em;
}
.userdata
{
    width: 50vw;
}
#datedata
{
    display: inline-grid;
    grid-template-columns: 120px 120px;
}
.monyea
{
    width: 27vw;
    height: 3.5vh;
    margin-top: .4em;
    border-radius: .3em;
    padding: .5em;
}
#cvc
{
    width: 25vw;
    height: 3.5vh;
    margin-top: .4em;
    border-radius: .3em;
    padding: .3em;
}
#conf
{
    display: block;
    width: 60vw;
    padding: 1em;
    color: white;
    margin-top: 1.5em;
    background-color: rgb(2, 27, 76);
    border-radius: .5em;
}

}
